


h1{
    color: purple;
    font-family: 'Nanum Myeongjo', serif;


}

#name{
    font-size: 100%;
    font-family: 'Dancing Script', cursive;

}

body { 
    background-image: url("./images/tile1.jpg");
    object-fit: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; 
    top: 0px;
  
  }

  .card{
      opacity: .85;
      text-align: center;
      box-shadow: 0px 0px 44px -12px rgba(0,0,0,0.75);

  }

  #contactForm{
    opacity: .9;
    text-align: center;
    box-shadow: 0px 0px 44px -12px rgba(0,0,0,0.75);

    
}

  .jumbotron{
background: transparent;
align-content: center;
text-align: center;
padding-bottom: 0px;

  }

  .jumbotron.andreia{
    background: transparent;
    align-content: center;
    text-align: center;
    padding-top: 30px;
      }
  
  #welcome{
      color: white;
      font-family: 'Dancing Script', cursive;
      font-size: 5rem;
      padding-top: 0px;
      margin-top: 0px;
      
      
  }

  #welcomeSubtitle{
      color: whitesmoke;
  }
  .card-deck{
      padding-left: 20px;
      padding-right: 20px;
      
  }
.navbar{
    margin-bottom: 0px;
    box-shadow: 0px 0px 44px -12px rgba(0,0,0,0.75);

}

  #secondJumbotron{
      background-color: white;
      opacity: .85;
      object-fit: fill;
      padding-bottom: 40px;
      box-shadow: 0px 0px 44px -12px rgba(0,0,0,0.75);



  }

.material-icons.md-18{
    font-size: 18px;
    
}

.material-icons.md-60{
    font-size: 60px;
    color: #8494C8;
    
}
.btn{
font-family: 'Dancing Script', cursive;
font-size: 20px;
color: white;
background-color: #8494C8;
opacity: .95;
}

a {
    color: white;
    
  }

  .embed-responsive-16by9 :hover{
      color: white !important;
      border: none !important;
  }

#portfolioContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: .90;
    
    

}

  
.embed-responsive{
    height: 18rem;
    width: 18rem;
    opacity: .8;
    border-radius: 50%;
    align-content: center;
    object-fit: cover;
    margin: 0 auto;
    box-shadow: 0px 0px 44px -12px rgba(0,0,0,0.75);



}

.container.portfolio{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

.figure {
    margin: 0 auto;
    padding-top: 30px;
}

.container.portfolio .content {
position: relative;
bottom: 0px;
color: white;
text-shadow: -.5px -.5px 0 black, .5px -.5px 0 black, -.5px .5px 0 black, .5px .5px 0 black;
}

img{
    border: 1.5px white solid;
    
}


