


h1{
    color: purple;
    font-family: 'Nanum Myeongjo', serif;


}

#name{
    font-size: 100%;
    font-family: 'Dancing Script', cursive;

}

body { 
    background-image: url("./images/background.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center; 
    top: 0px;
  
  }

  .card{
      opacity: .85;
      text-align: center;
  }

  #contactForm{
    opacity: .9;
    text-align: center;
    
}

  .jumbotron{
background: transparent;
align-content: center;
text-align: center;
padding-bottom: 0px;
  }

  .jumbotron.andreia{
    background: transparent;
    align-content: center;
    text-align: center;
    padding-top: 30px;
      }
  
  #welcome{
      color: white;
      font-family: 'Dancing Script', cursive;
      font-size: 5rem;
      padding-top: 0px;
      margin-top: 0px;
  }

  #welcomeSubtitle{
      color: whitesmoke;
  }
  .card-deck{
      padding-left: 20px;
      padding-right: 20px;
  }
.navbar{
    margin-bottom: 0px;
}

  #secondJumbotron{
      background-color: white;
      opacity: .85;
      object-fit: fill;
      padding-bottom: 40px;


  }

.material-icons.md-18{
    font-size: 18px;
    
}

.material-icons.md-60{
    font-size: 60px;
    color: #8494C8;
    
}
.btn{
font-family: 'Dancing Script', cursive;
font-size: 20px;
color: white;
background-color: #8494C8;
opacity: .95;
}

a {
    color: white;
    
  }

#portfolioContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: .90;
    

}

  
.embed-responsive{
    height: 16rem;
    opacity: .8;
    
}

.container.portfolio{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

.container.portfolio .content{
position: relative;
bottom: 0px;
background: white;
background: rgba(132, 148, 200, 0.85);
color: white;
text-shadow: -.5px -.5px 0 black, .5px -.5px 0 black, -.5px .5px 0 black, .5px .5px 0 black;
padding: 5px;
}

img{
    border: 1px white solid;
}


